services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80" # React app on http://localhost:3000
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "4000:4000" # NestJS app
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
